<h2 class="page-header">Register</h2>
<form method="POST" action="/users/register">
 <div class="form-group">
     <label>Name</label>
     <input type="text" class="form-control" placeholder="Name"
     name="name">
 </div>
 <div class="form-group">
     <label>UserName</label>
     <input type="text" class="form-control" placeholder="Username"
     name="username">
     
 </div>
 <div class="form-group">
     <lable>Email</lable>
    <input type="text" class="form-control" placeholder="Email"
    name="email">

 </div>
 <div class="form-group">
     <label>Password</label>
     <input type="password" class="form-control" placeholder="password"
     name="password">
 </div>
 <div class="form-group">
     <label>Conform Password</label>
     <input type="password" class="form-control" placeholder="password"
     name="password">
 </div>
 <button type="submit" class="btn btn-default">Submit</button>
</form>